[logging]
path=/var/log/ttnbridge.log

[tracker]
type=mqtt
server=eu.thethings.network
user=<Application ID>
pass=<default key>
topic=<Application ID>/devices/+/up
;batt=BatV
;lat=Latitude
;lon=Longitude
;height=alt
;sat=sat

[sensors]
type=mqtt
server=eu.thethings.network
user=<Application ID>
pass=<default key>
topic=<Application ID>/devices/+/up

[to]
type=mqtt
server=localhost